<!DOCTYPE HTML>
  <head>
    <title>Pad Find</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="../static/css/admin.css">
  </head>
  <body>
    <div id="wrapper" style="padding:50px;">

       <h1>Pads beginning with <%= description %></h1>

       <% pads.forEach(function (pad) { %>
          <div class="pad"><a href="../p/<%= pad.toString() %>"><%= pad.toString() %></a></div>
       <% }) %>

    </div>
  </body>
  
</html>
